# This is a basic workflow to help you get started with Actions

name: "learngihubactions"

on:
  push:
    branches:
      - main
      - 'releases/**'
      - 'feature/**'
jobs:
  terraform:
    name: Terraform Job
    runs-on: kaluwa-runner
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v5.0.0
      
    - name: Setup Terraform 
      uses: hashicorp/setup-terraform@v3
        
    - name: Azure Login
      uses: Azure/login@v2.3.0
      with:
        client-id: "84932be2-08ad-47f2-9f19-3a3f7b572c33"
        tenant-id: "e7bcfba0-e88d-4265-b3b5-f112aa9b2518"
        subscription-id: "5d80a2ab-5490-438c-8f91-82a4fb09c0d1"
        
      
    - name: Terraform fmt
      id: fmt
      run: terraform fmt -check
      continue-on-error: true

    - name: Terraform Init
      id: init
      run: terraform init -input=false
      working-directory: environments/dev

    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
      working-directory: environments/dev

    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color -input=false
      continue-on-error: true
      working-directory: environments/dev

      
      
      

      
 


